CompileFlags:
  Add:
    - "-I/usr/include"
    - "-Iaugust21st-game/godot-cpp/gen/include"
    - "-Iaugust21st-game/godot-cpp/gdextension"
    - "-Iaugust21st-game/godot-cpp/include"
    - "-Iaugust21st-game/dataproto-cpp/include"
    - "-Iaugust21st-game/commandIO-cpp/src"
