[submodule "august21-event/godot-cpp"]
	path = august21-event/godot-cpp
	url = https://github.com/godotengine/godot-cpp
	branch = 4.2
[submodule "august21-event/dataproto-cpp"]
	path = august21-event/dataproto-cpp
	url = https://github.com/Zekiah-A/dataproto-cpp.git
[submodule "august21-event/project/assets/skybox/py360convert"]
	path = august21-event/project/assets/skybox/py360convert
	url = https://github.com/sunset1995/py360convert
[submodule "august21-event/WatsonWebsocketPlus"]
	path = august21-event/WatsonWebsocketPlus
	url = https://github.com/Zekiah-A/WatsonWebsocketPlus
