# Godot project specific ignores
.godot/
*.kra~
*blend1
project/export/*
project/assets/skybox/cubemap/*
!project/assets/skybox/cubemap/.gitkeep

# Ignore library files in project but not the gdextension file
project/bin/*
!project/bin/android
project/bin/android/*
!project/bin/android/.gitkeep
!project/bin/linux
project/bin/linux/*
!project/bin/linux/.gitkeep
!project/bin/macos
project/bin/macos/*
!project/bin/macos/.gitkeep
!project/bin/windows
project/bin/windows/*
!project/bin/windows/.gitkeep
project/bin/web/*
!project/bin/web/.gitkeep
!project/bin/*.gdextension
project/android
.sconsign*.dblite

# Ignore custom.py
custom.py

# Ignore generated compile_commands.json
compile_commands.json

# Binaries
*.o
*.os
*.so
*.obj
*.bc
*.pyc
*.dblite
*.pdb
*.lib
*.config
*.creator
*.creator.user
*.files
*.includes
*.idb
*.exp

# Other stuff
*.log
.venv/

# VSCode
.vscode/*
!.vscode/extensions.json
.DS_Store
# Idea
.idea/
